In [ ]:
import pandas as pd

# Load dataset
data = pd.read_csv(
    "/content/train_data.txt",   # Colab file path
    sep=":::",
    names=["ID", "GENRE", "PLOT"],
    engine="python"
)

print(data.head())
print(data.info())

                                   ID       GENRE  \
1       Oscar et la dame rose (2009)       drama
2                       Cupid (1997)    thriller
3   Young, Wild and Wonderful (1980)       adult
4              The Secret Sin (1915)       drama
5             The Unrecovered (2007)       drama

                                                PLOT
1   Listening in to a conversation between his do...
2   A brother and sister with a past incestuous r...
3   As the bus empties the students for their fie...
4   To help their unemployed father make ends mee...
5   The film's title refers not only to the un-re...
<class 'pandas.core.frame.DataFrame'>
Index: 6311 entries, 1 to 6311
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6311 non-null   object
 1   GENRE   6311 non-null   object
 2   PLOT    6311 non-null   object
dtypes: object(3)
memory usage: 197.2+ KB
None

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
X = vectorizer.fit_transform(data["PLOT"])

y = data["GENRE"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
model = MultinomialNB()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, predictions))

Accuracy: 0.47110055423594616

In [ ]:
sample = ["A woman's life turns upside down when she meets her long-lost twin"]
sample_vec = vectorizer.transform(sample)

print("Predicted Genre:", model.predict(sample_vec))

Predicted Genre: [' drama ']